<div class="card acm-form">
        <div class="card-header">
            <h2> Sign Up</h2>
        </div>
        <div class="card-body">
            <div class="alert alert-sucess" *ngIf="successMessage">
                {{successMessage}}
            </div>
            <div class="alert alert-sucess" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <form [formGroup]="form" (ngSubmit)="signUp()">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email"
                         class="form-control"
                         id="email"
                         placeholder="Enter email address"
                         formControlName="email"
                     (change)="validate('email')">
                <!--<div class="alert alert-danger" *ngIf="!sForm.email?.pristine && !sForm.email?.value">
                        Email address is required.
                    </div>
                    <div class="alert alert-danger" *ngIf="sForm.email.errors?.email">
                        Please enter valid email address.
                    </div>
                    <div class="alert alert-danger" *ngIf="sForm.email.errors?.space">
                        Email can not contain space.
                    </div>-->
                    <div class="alert alert-danger" *ngIf="this.error?.email">
                            {{this.error?.email}}
                        </div>
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password"
                         class="form-control"
                         id="pwd"
                         placeholder="Enter password"
                         formControlName="pswd"
                     (change)="validate('pswd')">
                <div class="alert alert-danger" *ngIf="this.error?.pswd">
                    {{this.error?.pswd}}
                </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary acm-button">Submit</button>
                </div>
              </form>
        </div>
        <div class="card-footer text-center">
            <a [routerLink]="['/login']"> Already have an account? Login.</a>
        </div>
    </div> 