<div class="card">
    <div class="class-header">
        <h2>Welcome</h2>    
    </div>

    <div class="card-body home-component-center">
        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png" class="rounded-circle home-avatar-size">
    
        <h3>Welcome to the Angular Course Managment Application</h3>
        <div>this application demonstrate the conscept of angular</div>
    </div>
    <div class="card-footet">
        @this is footer
    </div>
</div>