<div class="card">
    <div class="class-header">
        <h2>Welcome</h2>    
    </div>

    <div class="card-body home-component-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST6UqY7V3H1NI_nUGQwdBJ8HC0h_65avaaz4MZ5p4xR6Y_aMsyxg" class="rounded-circle">
    
        <h3>Welcome to the Angular Course Managment Application</h3>
        <div>this application demonstrate the conscept of angular</div>
    </div>
    <div class="card-footet">
        @this is footer
    </div>
</div>