<div class="card" *ngIf="course">
    <div class="card-header">
        <div class="row">
            <div class="col"><h2> Course Details :</h2></div>
            <div class="col">Course Start Rating : <app-star [rating]="course.starRating">
      </app-star></div>
        </div>
    </div>
    <div class="card-body row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    Course Name : 
                </div>
                <div class="col-sm-9">
                    {{course.courseName}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    Code : 
                </div>
                <div class="col-sm-9">
                    {{course.courseCode}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    Trainer Name : 
                </div>
                <div class="col-sm-9">
                    {{course.trainer}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    Next Batch Date : 
                </div>
                <div class="col-sm-9">
                    {{course.nextBatchDate}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    Price : 
                </div>
                <div class="col-sm-9">
                    {{course.price}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    Description : 
                </div>
                <div class="col-sm-9">
                    {{course.description}}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img [src]="course.imageUrl" width="150" class="course-image">
        </div>
    </div>

    <div class="card-footer text-right">
        <button class="btn btn-primary acm-button mr-3" (click)="navigateToCourses()"> Back </button>
        <button class="btn btn-warning acm-button mr-3"> Edit </button>
        <button class="btn btn-danger acm-button"> Delete </button>
    </div>
</div>