/* You can add global styles to this file, and also import other style files */

.acm-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 550px;
    width: 500px;
}

.acm-button {
    width: 150px;
} 

.ng-touched.ng-valid[data-apply-border] {
    border-left: 5px solid green;
}

.ng-touched.ng-invalid[data-apply-border] {
    border-left: 5px solid red;
}