<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="col-sm-8">Course List</h3>
            <div class="col-sm-4"> {{message}} </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>
                    <button class="btn btn-warning"
                            (click)="showImage()"> {{imageVisible ? 'Hide' : 'Show'}}
                            Image
                    </button>
                </th>
                <th>Course Name</th>
                <th>Next Batch Date</th>
                <th>Price</th>
                <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses"
                    (click)="showCourseDetails(course.courseId)">
                    <td>
                        <img [src]="course.imageUrl"
                              width="60"
                              *ngIf="imageVisible">
                    </td>
                    <td>{{course.courseName | uppercase}}</td>
                    <td>{{course.nextBatchDate | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{course.price | currency : 'INR' : 'symbol' : '3.2-3'}}</td>
                    <td>
                        <!-- {{course.starRating}} -->
                        <app-star [rating]="course.starRating"
                                  (starClicked)="ratingRecieved($event)">
                        </app-star>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>