<div class="card">
    <div class="card-header">
        <h3>Course List</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th><button class="warning" (click)="ShowImage()">{{ImageVisible ? 'Hide' : 'show'}} Image</button></th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Next Start Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                    <td><img [src]="course.imageUrl" width="50" *ngIf="ImageVisible"></td>
                    <td>{{course.courseName | uppercase}}</td>
                    <td>{{course.nextBatchDate | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{course.price | currency: 'INR ' : 'symbol': '3.2-3'}}</td>
                    <td>{{course.starRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>